{%if product.metafields.custom.callout_text != blank%}
    <div class="callout-container">
        <span class="callout-badge">
            {{product.metafields.custom.callout_text}}
        </span>
    </div>
{%endif%}