<div class="nav_top-filter-container">
    <div class="nav_top-filter-inner">
        <span class="top-filter-text">
            Filter by :
        </span>

        <div class="top-filter-checks">
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-all">
                <label for="filter-for-all">All</label>
            </div>
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-bundles">
                <label for="filter-for-bundles">Bundles</label>
            </div>
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-mineral">
                <label for="filter-for-mineral">Mineral</label>
            </div>
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-mists">
                <label for="filter-for-mists">Mists</label>
            </div>
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-mists">
                <label for="filter-for-mists">Mists</label>
            </div>
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-mists">
                <label for="filter-for-mists">Mists</label>
            </div>
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-mists">
                <label for="filter-for-mists">Mists</label>
            </div>
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-mists">
                <label for="filter-for-mists">Mists</label>
            </div>
        </div>
    </div>
</div>