.template-collection{
    .header__mobile__bottom{
        display: none;
    }
}

.collection__nav--bar-filtring{
    justify-content: space-between;
    align-items: center;
    .nav_top-filter-container{
        @media only screen and (max-width: 989px){
            width: 100%;
        }
        @media only screen and (min-width: 990px){
            width: calc(100% - 140px);
            padding-left: 5rem;
            padding-right: 30px;
        }
        .nav_top-filter-inner{
            display: flex;
            align-items: center;
            column-gap: 40px;
            @media only screen and (max-width: 989px){
                column-gap: 20px;
                padding-left: 21px;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-right: 5px;
            }
            .top-filter-text{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
                text-transform: capitalize;
                white-space: nowrap;
                @media only screen and (max-width: 989px){
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                }
            }
            .top-filter-checks{
                flex-grow: 1;
                display: flex;
                column-gap: 20px;
                flex-direction: row;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                @media only screen and (max-width: 989px){
                    column-gap: 9px;
                    width: calc(100% - 71px);
                    flex-grow: initial;
                }
                .top-filter-checks-item{
                    input[type="checkbox"] {
                       display: none;
                    }
                }
                button {
                    cursor: pointer;
                    font-style: normal;
                    position: relative;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    padding-left: 25px;
                    padding-right: 25px;
                    height: 47.81px;
                    min-width: 83.67px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #000000;
                    border: 0.8px solid #EAE4FF;
                    border-radius: 5050px;
                    caret-color: transparent;
                    white-space: nowrap;
                    text-transform: capitalize;
                    overflow: hidden;
                    position: relative;
                    @media only screen and (max-width: 989px){
                        height: 31px;
                        min-width: 54px;
                        padding-left: 15px;
                        padding-right: 15px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
        }
    }


    //callout sorting
    @media only screen and (min-width: 990px){
        .popout--sort .popout__toggle{
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
}
.sidebar__item input[type="checkbox"]:checked ~ .button-for-check {
    /* Add styles to the label when the associated checkbox is checked */
    background: #E1DEF7;
    border: 0.8px solid #EAE4FF;
}