.template-cart {
  .header__mobile__bottom,
  .free-shipping {
    display: none;
  }
  //free gift functionnality
  .free_gift_product {
    width: 100%;
    margin-top: 20px;

    .message-bg {
      background-color: var(--COLOR-PRIMARY);
      padding: 15px 15px;
      font-size: 15px;
    }

    .gift_product {
      margin: 0;
      border: 1px solid #f0f0f0;
      padding: 13px 9px;
      border-top: none;

      .product-grid {
        justify-content: center;
        row-gap: 20px;
        column-gap: 9px;

        .product-item {
          width: 100%;
          .badge-box,
          .sale-box {
            display: none;
          }
          .product-information {
            .product__grid__title {
              margin-top: 5px;
              margin-bottom: 2px;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              color: #000000;
            }
            .price {
              font-style: normal;
              font-weight: 500;
              font-size: 10px;
              line-height: 14px;
              display: block;
            }
            .product_add {
              display: block;

              .btn {
                margin-top: 10px;
                display: block;
                cursor: pointer;
                --BTN-PRIMARY-BG-COLOR: #f2a6df;
                --BTN-PRIMARY-BG-COLOR-BRIGHTER: #fface4;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.05em;
                color: #000000;
                &.disabled {
                  color: #888;
                  background: transparent;
                  border: 1px solid #dadada;
                  cursor: not-allowed;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    .btn-wrap {
      width: 100%;
      grid-column: 1 / -1;
    }

    &.active {
      .btn {
        color: #888;
        background: transparent;
        border: 1px solid #dadada;
      }
    }

    .imdone {
      a {
        color: #000;
      }
    }

    @media only screen and (max-width: 479px) {
      .gift_product .product-grid {
        grid-template-columns: var(--grid-small);
      }
    }
  }

  #sca-fg-slider-cart {
    display: none !important;
  }

  .congrates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:after {
      content: "";
      border: solid black;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 5px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    &.open:after {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      margin-top: 7px;
    }
  }

  //cart style
  .cart__form {
    .cart__inner {
      .cart__items {
        border-top: none;
        .cart__item {
          padding-top: 12px;
          padding-bottom: 12px;
          .cart__item__image {
            a {
              width: 77px;
              height: 77px;
            }
          }
          .cart__item__content {
            width: calc(100% - 77px);
            padding-right: 0px;
            padding-left: 17px;
            .cart__item__content-inner {
              .cart__item__title {
                font-family: "Avenir Next Rounded";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
                margin-bottom: 6px;
                margin-top: 4px;
                a {
                  color: inherit;
                }
              }
              .cart__item__meta {
                margin-bottom: 6px;
                .cart__item__selected-options {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  margin-top: 0px;
                }
              }
              .cart__item__remove {
                font-weight: 500;
                font-size: 10px;
                line-height: 14px;
                position: relative;
                top: 0px;
                left: 0px;
                height: initial;
              }
            }
            .cart__price {
              font-weight: 500;
              font-size: 14px;
              line-height: 19px;
            }

            .cart__quantity{
              width: 81px;
              border: 1px solid #FFA3E1;
              border-radius: 20px;
              padding-top: 3px;
              padding-bottom: 3px;
              button{
                  width: 10px;
                  padding: 0px;
                  .icon{
                      width: 10px;
                  }
              }
              .cart__quantity-plus{
                  right: 14px;
              }
              .cart__quantity-minus{
                  left: 14px;
              }
              .cart__quantity-field{
                  padding: 4px 17px;
                  font-size: 12px;
                  line-height: 16px;
                  border: none;
              }
          }
          }
        }
      }
      .cart__foot__inner {
        .btn--primary {
          --BTN-PRIMARY-BG-COLOR: #f2a6df;
          --BTN-PRIMARY-BG-COLOR-BRIGHTER: #fface4;
        }
        .cart__note {
          display: none;
        }
      }
    }
    .cart__widget--products {
      display: none;
    }
    .cart__aside{
      .cart__total{
        margin-top: 0px;
        padding-top: 15px;
        border-top: 1px solid var(--border);
      }
    }
  }
}
