.template-product{
    @media only screen and (max-width: 749px){
        .product__title__wrapper{
            padding-right: 0px;
            .product__title{
                font-size: 20px;
            }
        }
    }
    .selector-with-only-variant{
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }

    //rc otpimisation
    .rc-widget{
        padding-bottom: 15px !important;
        .rc-subscription-details{
            display: none;
        }
    }
    //highlight label selected css
    .radio__button{
        input[type="radio"]:checked + label {
            background: #E2DEF9;
            /* add any other styles you want for the active state */
        }
    }

    //prod to be
    ul.tab-proud-be {
        list-style: none;
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
        margin-left: 0px;
        div.item {
            width: 50%;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            img {
                max-width: 70px;
                height: auto;
                margin: 10px 20px 10px 0px !important;
            }
        }
    }

    //product price with reviews
    .price_with_reviews_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        align-content: flex-start;
        row-gap: 10px;
        .stamped-badge{
            display: flex;
            align-items: center;
            left: 0;
        }
    }
}