.template-product{
    @media only screen and (max-width: 749px){
        .product__title__wrapper{
            padding-right: 0px;
            .product__title{
                font-size: 20px;
            }
        }
    }
    .selector-with-only-variant{
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }
}