.callout-badge{
    display: inline-block;
    font-family: "Avenir Next Rounded";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding: 7px 17px 7px 12px;
    color: #000000;
    //background: #E1DEF9;
    border-radius: 20em;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    column-gap: 9px;
    .badge-icon{
        width: 16px;
        height: 16px;
    }
    @media only screen and (max-width: 769px) {
        text-align: left;
        font-size: 12px;
        line-height: 16px;
        padding: 9px 15px;
    }
}
.template-product{
    .callout-badge{
        margin-top: 10px;
        margin-bottom: 0px;
        @media only screen and (max-width: 769px) {
            font-size: 14px;
        }
    }
}
// @media only screen and (max-width: 450px) {
//     .callout-container{
//         width: calc(100% + 7px);
//         max-width: 180px;
//     }
// }
// .template-product{
//     .callout-container{
//         margin-top: 7px;
//         margin-bottom: 19px;
//         .callout-badge{
//             font-size: 14px;
//             padding: 4px 15px;
//         }
//         @media only screen and (max-width: 769px) {
//             margin-top: 12px;
//             margin-bottom: 6px;
//             // width: initial;
//             // max-width: initial;
//             // display: inline-block;
//             // .callout-badge{
//             //     width: auto;
//             //     text-align: initial;
//             // }
//         }
//     }
// }