.header-v2 .optimazed__version .drawer__head {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 21px;
}
.header-v2 .optimazed__version .drawer__head .header__logo__link_mobile-nav {
  width: 134px;
}
.header-v2 .optimazed__version .drawer__head .drawer__close {
  position: absolute;
  padding: 0;
  left: 15px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links .sliderow {
  min-height: 75px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links .sliderow .sliderow__title {
  padding: 0px;
  -moz-column-gap: 17px;
       column-gap: 17px;
  min-height: 75px;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 400;
  border-top: 1px solid #E2DEF9;
  letter-spacing: 0px;
  color: #000;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links .sliderow .sliderow__title .nav-item_linkimage {
  width: auto;
  aspect-ratio: 1.59;
  height: 75px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links .sliderow .sliderow__title:hover {
  background: #E2DEF9;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links:last-child .sliderow__title {
  border-bottom: 1px solid #E2DEF9;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu {
  margin-top: auto;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 19px;
  justify-content: space-between;
  padding-left: 34px;
  padding-right: 22px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu .sliderule__wrapper {
  width: 40%;
  padding: 0px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu .sliderule__wrapper .sliderow {
  height: initial;
  min-height: initial;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu .sliderule__wrapper .sliderow .sliderow__title {
  height: initial;
  min-height: initial;
  padding: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3D3936;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu .sliderule__wrapper .sliderow .sliderow__title:hover {
  background: transparent;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom {
  padding-bottom: 27px;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom::before {
  display: none;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .hero__button-group {
  margin: 0px;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .hero__button-group .hero__button {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .hero__button-group .hero__button .btn {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .hero__button-group .hero__button .btn .icon {
  left: 10px;
  position: relative;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .announcement__text .body-size-2 {
  margin: 0;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 749px) {
  .slideshow-v2 .desktop {
    display: none !important;
  }
  .slideshow-v2 .frame {
    grid-template-columns: none !important;
    grid-template-rows: auto;
    overflow-x: hidden;
  }
  .slideshow-v2 .frame .hero__image {
    position: relative;
  }
  .slideshow-v2 .frame .hero__image .image__hero__frame {
    position: relative;
  }
  .slideshow-v2 .frame .hero__content__wrapper {
    grid-row-start: 2;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content {
    padding-top: 34px;
    padding-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__title p {
    margin: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__description {
    margin-top: 8px;
    margin-bottom: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__description p {
    margin: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__button-group {
    margin: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__button-group .hero__button {
    margin-top: 26px;
    margin-bottom: 0px;
  }
  .slideshow-v2 .secondary_button_wrapper {
    position: absolute;
    bottom: 30px;
    right: 0px;
    z-index: 20;
  }
  .slideshow-v2 .secondary_button_wrapper .btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media only screen and (min-width: 748px) {
  .slideshow-v2 .mobile {
    display: none !important;
  }
}
.slideshow-v2 .subordonate-item {
  display: none;
  position: relative;
}
.slideshow-v2 .slideshow__slide {
  position: relative;
}

@media only screen and (max-width: 749px) {
  .template-product .product__title__wrapper {
    padding-right: 0px;
  }
  .template-product .product__title__wrapper .product__title {
    font-size: 20px;
  }
}
.template-product .selector-with-only-variant {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.template-product .rc-widget {
  padding-bottom: 15px !important;
}
.template-product .rc-widget .rc-subscription-details {
  display: none;
}
.template-product .radio__button input[type=radio]:checked + label {
  background: #E2DEF9;
  /* add any other styles you want for the active state */
}
.template-product ul.tab-proud-be {
  list-style: none;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-left: 0px;
}
.template-product ul.tab-proud-be div.item {
  width: 50%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.template-product ul.tab-proud-be div.item img {
  max-width: 70px;
  height: auto;
  margin: 10px 20px 10px 0px !important;
}

.product-grid .product-item .product-link {
  padding-bottom: 20px;
}
