@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
.header-v2 .optimazed__version .drawer__head {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 21px;
}
.header-v2 .optimazed__version .drawer__head .header__logo__link_mobile-nav {
  width: 134px;
}
.header-v2 .optimazed__version .drawer__head .drawer__close {
  position: absolute;
  padding: 0;
  left: 15px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links .sliderow {
  min-height: 75px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links .sliderow .sliderow__title {
  padding: 0px;
  -moz-column-gap: 17px;
       column-gap: 17px;
  min-height: 75px;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 400;
  border-top: 1px solid #E2DEF9;
  letter-spacing: 0px;
  color: #000;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links .sliderow .sliderow__title .nav-item_linkimage {
  width: auto;
  aspect-ratio: 1.59;
  height: 75px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links .sliderow .sliderow__title:hover {
  background: #E2DEF9;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__primary_navmenu .primary_menu_links:last-child .sliderow__title {
  border-bottom: 1px solid #E2DEF9;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu {
  margin-top: auto;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 19px;
  justify-content: space-between;
  padding-left: 34px;
  padding-right: 22px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu .sliderule__wrapper {
  width: 40%;
  padding: 0px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu .sliderule__wrapper .sliderow {
  height: initial;
  min-height: initial;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu .sliderule__wrapper .sliderow .sliderow__title {
  height: initial;
  min-height: initial;
  padding: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3D3936;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.header-v2 .optimazed__version .drawer__body .drawer__content .container__secondary_navmenu .sliderule__wrapper .sliderow .sliderow__title:hover {
  background: transparent;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom {
  padding-bottom: 27px;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom::before {
  display: none;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .hero__button-group {
  margin: 0px;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .hero__button-group .hero__button {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .hero__button-group .hero__button .btn {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .hero__button-group .hero__button .btn .icon {
  left: 10px;
  position: relative;
}
.header-v2 .optimazed__version .drawer__body .drawer__bottom .announcement__text .body-size-2 {
  margin: 0;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 749px) {
  .slideshow-v2 .desktop {
    display: none !important;
  }
  .slideshow-v2 .frame {
    grid-template-columns: none !important;
    grid-template-rows: auto;
    overflow-x: hidden;
  }
  .slideshow-v2 .frame .hero__image {
    position: relative;
  }
  .slideshow-v2 .frame .hero__image .image__hero__frame {
    position: relative;
  }
  .slideshow-v2 .frame .hero__content__wrapper {
    grid-row-start: 2;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content {
    padding-top: 34px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__title p {
    margin: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__description {
    margin-top: 8px;
    margin-bottom: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__description p {
    margin: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__button-group {
    margin: 0px;
  }
  .slideshow-v2 .frame .hero__content__wrapper .hero__content .hero__button-group .hero__button {
    margin-top: 26px;
    margin-bottom: 0px;
  }
  .slideshow-v2 .secondary_button_wrapper {
    position: absolute;
    bottom: 30px;
    right: 0px;
    z-index: 20;
  }
  .slideshow-v2 .secondary_button_wrapper .btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media only screen and (min-width: 748px) {
  .slideshow-v2 .mobile {
    display: none !important;
  }
}
.slideshow-v2 .subordonate-item {
  display: none;
  position: relative;
}
.slideshow-v2 .slideshow__slide {
  position: relative;
}
.slideshow-v2 .hero__content__wrapper .hero__content strong {
  font-weight: 600;
}
.slideshow-v2 .hero__content__wrapper .hero__content .hero__title p, .slideshow-v2 .hero__content__wrapper .hero__content .hero__description p {
  margin: 0px;
}

@media only screen and (max-width: 749px) {
  .template-product .product__title__wrapper {
    padding-right: 0px;
  }
  .template-product .product__title__wrapper .product__title {
    font-size: 20px;
  }
}
.template-product .selector-with-only-variant {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.template-product .rc-widget {
  padding-bottom: 15px !important;
}
.template-product .rc-widget .rc-subscription-details {
  display: none;
}
.template-product .radio__button input[type=radio]:checked + label {
  background: #E2DEF9;
  /* add any other styles you want for the active state */
}
.template-product ul.tab-proud-be {
  list-style: none;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-left: 0px;
  justify-content: space-between;
}
.template-product ul.tab-proud-be div.item {
  width: calc(50% - 5px);
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.template-product ul.tab-proud-be div.item img {
  max-width: 70px;
  height: auto;
  margin: 10px 20px 10px 0px !important;
}
@media only screen and (max-width: 749px) {
  .template-product ul.tab-proud-be div.item img {
    max-width: 50px !important;
    margin: 10px 10px 10px 0 !important;
  }
}
.template-product .price_with_reviews_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 10px;
}
.template-product .price_with_reviews_container .stamped-badge {
  display: flex;
  align-items: center;
  left: 0;
}
.template-product .price_with_reviews_container .product__price {
  color: #E774B7;
}
.template-product .price_with_reviews_container .product__price .product__price--sale {
  color: #E774B7;
}
.template-product .product-bundle-container .accordion-content {
  padding-top: 10px;
  padding-bottom: 0px;
}
.template-product .product-bundle-container .cart__item {
  padding: 0px;
  border-bottom: none;
  margin-bottom: 26px;
}
.template-product .product-bundle-container .cart__item .cart__item__image img {
  margin: 0px;
}
.template-product .product-bundle-container .cart__item .cart__item__content {
  padding-right: 0px;
  padding-left: 39px;
  width: calc(100% - 150px);
}
.template-product .product-bundle-container .cart__item .cart__item__title {
  margin-top: 0px;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.template-product .product-bundle-container .cart__item .cart__item__title a {
  text-decoration: none;
  background: none;
  padding: 0px;
}
.template-product .product-bundle-container .cart__item .short_description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin: 0px;
}
.template-product .product-bundle-container .cart__item .cart__item__meta {
  margin-top: 0px;
  margin-bottom: 10px;
}
.template-product .product-bundle-container .cart__item .cart__item__meta .cart__item__selected-options {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.template-product .product-bundle-container .cart__item .cart__item__meta p {
  margin: 0px;
}
@media only screen and (max-width: 749px) {
  .template-product .product-bundle-container .cart__item {
    margin-bottom: 16px;
  }
  .template-product .product-bundle-container .cart__item .cart__item__image img {
    width: 120px;
  }
  .template-product .product-bundle-container .cart__item .cart__item__content {
    padding-right: 0px;
    padding-left: 19px;
    width: calc(100% - 120px);
  }
  .template-product .product-bundle-container .cart__item .cart__item__title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 9px;
  }
  .template-product .product-bundle-container .cart__item .cart__item__meta {
    margin-bottom: 9px;
  }
  .template-product .product-bundle-container .cart__item .cart__item__meta .cart__item__selected-options {
    font-size: 12px;
    line-height: 16px;
  }
  .template-product .product-bundle-container .cart__item .short_description {
    font-size: 12px;
    line-height: 16px;
  }
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  border-bottom: 0px;
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__legend {
  margin: 0px;
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__legend .radio__legend__option-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0px;
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__legend .radio__legend__value {
  display: none;
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__buttons {
  display: flex;
  flex-direction: column;
  margin: 0px;
  row-gap: 6px;
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__buttons .radio__button {
  padding: 0px;
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__buttons .radio__button label {
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  padding: 3px 5px 3px 10px;
  display: flex;
  -moz-column-gap: 26px;
       column-gap: 26px;
  align-items: center;
}
@media only screen and (max-width: 749px) {
  .template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__buttons .radio__button label {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__buttons .radio__button label img {
  width: 55px;
  height: 55px;
  border-radius: 2px;
}
@media only screen and (max-width: 749px) {
  .template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__buttons .radio__button label img {
    width: 48px;
    height: 48px;
  }
}
.template-product .product__selectors .custom-variant-picker-continer .radio__fieldset .radio__buttons .radio__button label span {
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0px;
  text-align: left;
}
.template-product .product__submit__item .btn--primary, .template-product .cart-bar__submit .btn--primary {
  --BTN-PRIMARY-BG-COLOR:#FFA3E1;
  --BTN-PRIMARY-BG-COLOR-BRIGHTER: #fface4;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 22px;
  height: initial;
  min-height: initial;
}
@media only screen and (max-width: 749px) {
  .template-product .product__submit__item .btn--primary, .template-product .cart-bar__submit .btn--primary {
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 18px;
  }
}
.template-product .product__submit__item .select-popout, .template-product .cart-bar__submit .select-popout {
  height: 100%;
}
.template-product .product__submit__item .select-popout .select-popout__toggle, .template-product .cart-bar__submit .select-popout .select-popout__toggle {
  height: 100%;
  border-color: #FFA3E1;
}

.product__commun_upsell .product-upsell {
  border: 1px solid #F1F0F0;
}
.product__commun_upsell .product-upsell .product-upsell__image {
  width: 126px;
}
.product__commun_upsell .product-upsell .product-upsell__content {
  background-color: white;
  width: calc(100% - 126px);
  padding: 15px 26px 16px;
}
.product__commun_upsell .product-upsell .product-upsell__content .product-upsell__title {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}
.product__commun_upsell .product-upsell .product-upsell__content .product-upsell__price {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  margin-top: 10px;
  padding: 6px 34px 7px 35px;
  background: #FFA3E1;
  border-radius: 20px;
}
.product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn .btn__plus {
  display: none;
}
.product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn .btn__text {
  width: auto;
  opacity: 1;
  visibility: visible;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}
.product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn.is-loading .btn__text, .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn.is-added .btn__text {
  opacity: 0;
}
@media only screen and (max-width: 989px) {
  .product__commun_upsell .product-upsell .product-upsell__content {
    padding: 24px 7px 24px 18px;
  }
  .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
  }
  .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__price {
    font-size: 12px;
    line-height: 16px;
  }
  .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn {
    margin-top: 9px;
    padding: 6px 24px;
    min-width: 134px;
  }
  .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn .btn__text {
    font-size: 10px;
    line-height: 15px;
  }
}
@media only screen and (min-width: 990px) {
  .product__commun_upsell .product-upsell .product-upsell__content {
    padding: 15px 26px 16px;
  }
  .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__title {
    font-size: 18px;
    line-height: 24px;
  }
  .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__price {
    font-size: 15px;
    line-height: 20px;
  }
  .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn {
    padding: 6px 34px 7px 35px;
  }
  .product__commun_upsell .product-upsell .product-upsell__content .product-upsell__btn .btn__text {
    font-size: 14px;
    line-height: 21px;
  }
}

.drawer--cart .cart_upsell_container .product-upsell__image {
  width: 90px;
}
.drawer--cart .cart_upsell_container .product-upsell__content {
  background-color: white;
  width: calc(100% - 90px);
  padding: 0px 26px;
}
.drawer--cart .cart_upsell_container .product-upsell__content .product-upsell__skip {
  display: none;
}
.drawer--cart .cart_upsell_container .product-upsell__content .product-upsell__title {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 7px;
}
.drawer--cart .cart_upsell_container .product-upsell__content .product-upsell__price {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}
.drawer--cart .cart_upsell_container .product-upsell__content .product-upsell__btn {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  margin-top: 7px;
  padding: 6px 20px;
  background: #FFA3E1;
  border-radius: 20px;
}
.drawer--cart .cart_upsell_container .product-upsell__content .product-upsell__btn .btn__plus {
  display: none;
}
.drawer--cart .cart_upsell_container .product-upsell__content .product-upsell__btn .btn__text {
  width: auto;
  opacity: 1;
  visibility: visible;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}
.drawer--cart .cart_upsell_container .product-upsell__content .product-upsell__btn.is-loading .btn__text, .drawer--cart .cart_upsell_container .product-upsell__content .product-upsell__btn.is-added .btn__text {
  opacity: 0;
}

/*****************************  cart page css *********************/
.free_gift_message {
  width: 100%;
  margin-top: 20px;
}

.free_gift_message .message-bg {
  background-color: var(--COLOR-PRIMARY);
  padding: 15px 15px;
  font-size: 15px;
}

.free_gift_product {
  width: 100%;
  margin-top: 20px;
}

.free_gift_product .message-bg {
  background-color: var(--COLOR-PRIMARY);
  padding: 15px 15px;
  font-size: 15px;
}

.free_gift_product .gift_product {
  margin: 0;
  border: 1px solid #f0f0f0;
  padding: 15px;
  border-top: none;
}

.free_gift_product .gift_product .product-grid {
  margin: 0 -15px;
  justify-content: center;
  row-gap: 0px;
}

.free_gift_product .gift_product .product-grid .product-item {
  padding: 0 15px;
}

.free_gift_product .gift_product .product-grid .product-item .product-information {
  padding: 15px 5px;
}

.free_gift_product .gift_product .product-grid .product-item .product-information .product_add {
  display: block;
}

.free_gift_product .gift_product .product-grid .product-item .product-information .product_add .btn {
  border-radius: 0;
  margin-top: 10px;
  display: block;
  cursor: pointer;
}

.free_gift_product .gift_product .product-grid .product-item .product-information .product_add .btn.disabled {
  color: #888;
  background: transparent;
  border: 1px solid #dadada;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-wrap {
  width: 100%;
  grid-column: 1/-1;
}

.active .btn {
  color: #888;
  background: transparent;
  border: 1px solid #dadada;
}

.imdone a {
  color: #000;
}

@media (max-width: 675px) {
  .cart {
    margin: 0;
  }
}
@media (max-width: 543px) {
  .free_gift_product .gift_product .product-grid {
    margin: 0 -8px;
  }
}
#sca-fg-slider-cart {
  display: none !important;
}

.congrates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.congrates:after {
  content: "";
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.congrates.open:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 7px;
}

.header__cart__status__holder .header__cart__status {
  background-color: #FFA3E1;
}

.drawer--cart .drawer__head h3 {
  display: inline-block;
}
.drawer--cart .drawer__head .header__cart__status_drawer {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.drawer--cart .cart__item .cart__item__content {
  padding: 0px 25px;
}
.drawer--cart .cart__item .cart__item__content .cart__item__title {
  margin: 0px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #000000;
}
.drawer--cart .cart__item .cart__item__content .cart__item__title a {
  color: inherit;
}
.drawer--cart .cart__item .cart__item__content .cart__price {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}
.drawer--cart .cart__item .cart__item__content .meta_container {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;
}
.drawer--cart .cart__item .cart__item__content .meta_container .cart__price {
  margin: 0px;
}
.drawer--cart .cart__item .cart__item__content .meta_container .cart__item__meta {
  margin-bottom: 0px;
  padding-right: 15px;
}
.drawer--cart .cart__item .cart__item__content .meta_container .cart__item__meta .cart__item__selected-options {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.drawer--cart .cart__item .cart__item__content .cart__quantity {
  width: 81px;
  border: 1px solid #FFA3E1;
  border-radius: 20px;
}
.drawer--cart .cart__item .cart__item__content .cart__quantity button {
  width: 10px;
  padding: 0px;
}
.drawer--cart .cart__item .cart__item__content .cart__quantity button .icon {
  width: 10px;
}
.drawer--cart .cart__item .cart__item__content .cart__quantity .cart__quantity-plus {
  right: 14px;
}
.drawer--cart .cart__item .cart__item__content .cart__quantity .cart__quantity-minus {
  left: 14px;
}
.drawer--cart .cart__item .cart__item__content .cart__quantity .cart__quantity-field {
  padding: 4px 17px;
  font-size: 12px;
  line-height: 16px;
  border: none;
}
.drawer--cart .cart__button .btn--primary {
  --BTN-PRIMARY-BG-COLOR:#FFA3E1;
  --BTN-PRIMARY-BG-COLOR-BRIGHTER: #fface4;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-bottom: 18px;
}
.drawer--cart .cart__note {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 9px;
  text-align: center;
}

.product-item .stamped-badge-caption[data-reviews][data-label][data-version="2"] > span,
.product-item .stamped-badge-caption {
  font-size: 0;
}
.product-item .stamped-product-reviews-badge .stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {
  content: "(" attr(data-reviews) ") " !important;
  font-size: 14px;
}
.product-item .product-item__info {
  padding-bottom: 32px;
}
.product-item .product-item__info .product-link {
  padding-bottom: 0px;
}
.product-item .badge-box, .product-item .sale-box {
  background: #FFFFFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  border-radius: 40px;
  letter-spacing: 0.05em;
  color: #E774B7;
  line-height: 18px;
  padding-top: 9px;
  padding-bottom: 7px;
}
.product-item .product-item__title {
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 6px;
}
@media only screen and (max-width: 749px) {
  .product-item .product-item__title {
    font-size: 15px;
  }
}
.product-item .price {
  margin: 0;
}
.product-item .price .sold-out {
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #E774B7;
}
.product-item .price .new-price {
  color: #E774B7;
}
.product-item .price .reback_to_stock {
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-variant: all-small-caps;
  color: #474747;
  text-transform: uppercase;
  padding: 0px;
}
.product-item .price:has(.sold-out) {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.callout-badge {
  display: inline-block;
  font-family: "Avenir Next Rounded";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  padding: 7px 17px 7px 12px;
  color: #000000;
  border-radius: 20em;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.callout-badge .badge-icon {
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 769px) {
  .callout-badge {
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    padding: 9px 15px;
  }
}

.template-product .callout-badge {
  margin-top: 17px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 769px) {
  .template-product .callout-badge {
    font-size: 14px;
  }
}
