.product-item{

    //stamped product
    .stamped-badge-caption[data-reviews][data-label][data-version="2"] > span,
    .stamped-badge-caption {
      font-size: 0;
    }

    .stamped-product-reviews-badge .stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {
      content: '('attr(data-reviews)') ' !Important;
      font-size: 14px;
    }

    .product-item__info{
        padding-bottom: 32px;
        .product-link{
            padding-bottom: 0px;
        }
    }
    .badge-box,.sale-box{
        background: #FFFFFF;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        border-radius: 40px;
        letter-spacing: 0.05em;
        color: #E774B7;
        line-height: 18px;
        padding-top: 9px;
        padding-bottom: 7px;
    }
    .product-item__title{
        font-family: 'Avenir Next Rounded';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 6px;
        @media only screen and (max-width: 749px) {
            font-size: 15px;
        }
    }

    .price{
        margin: 0;
        .sold-out{
            font-family: 'Avenir Next Rounded';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #E774B7;
        }
        .new-price{
            color: #E774B7;
        }
        .reback_to_stock{
            font-family: 'Avenir Next Rounded';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            font-variant: all-small-caps;
            color: #474747;
            text-transform: uppercase;
            padding: 0px;
        }
    }
    .price:has(.sold-out){
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}